<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <!-- 検索対象プロジェクトのルートディレクトリを指定 (深すぎるとエラーが出るかもしれません) -->
    <add key="targetDir" value="D:\work\Java" />
    
    <!-- キーワードリスト（Java）の格納場所（相対パスの場合、exeからの位置） -->
    <add key="keywordList_java" value="../../../grepkeyword_java.txt" />
    <!-- キーワードリスト（Interstage）の格納場所 -->
    <add key="keywordList_interstage" value="../../../hoge.txt" />
    <!-- キーワードリスト（Database）の格納場所 -->
    <add key="keywordList_db" value="../../../hoge.txt" />
    
    <!-- キーワードリストファイルの文字コード -->
    <add key="keywordListEncode" value="UTF-8" />
    <!-- 検索対象の拡張子 -->
    <add key="targetExtension" value="*.java" />
    <!-- 読み込むプログラムファイルの文字コード -->
    <add key="programFileEncode" value="shift_jis"/>
    <!-- Grep結果ファイルの出力先フォルダ -->
    <add key="outputDir" value="../../../Output" />
    <!-- 検索時にバイナリファイルを無視するか（無視：Trueを設定） -->
    <add key="ignoreBinary" value="True" />
    <!-- RegexOptions 列挙型 の値を指定 （検索時に大文字小文字を無視する場合は 1を設定）-->
    <add key="regexOptions" value="1" />
    
    <!-- 検索結果を元に更に検索を実行するか（標準：2段階目まで検索） -->
    <!-- Ex: 「BigDecimal」の検索結果に対して「toString()」の検索を実行したい → "2" を指定 -->
    <add key="multipleFlg" value="2" />
    <!-- 追加Grep用のファイルの検索先フォルダ -->
    <add key="inputDig" value="../../../Dig" />


  
  </appSettings>
</configuration>